<div class="text-center p-3">
  <div class="row g-2">
    <div class="col-12">
      <input type="text" class="form-control border-info mb-3" [(ngModel)]="nome" placeholder="Veja se algúem específico chegou" />
    </div>
  </div>
  <div class="row g-2">
    <div class="col-6">
      <button class="btn btn-primary px-4" (click)="buscar()">VERIFICAR</button>
    </div>
    <div class="col-6">
      <div
        *ngIf="resultado !== null"
        [ngClass]="[resultado ? 'alert alert-success' : 'alert alert-danger', 'px-3', 'py-2', 'rounded', 'text-center', 'w-100', 'mb-3', 'fade-glow', animando ? 'fade-glow-anim' : '']"
        [ngStyle]="animando ? { '--glow-color': (resultado ? '#4be07b' : '#ff5e5e') } : {}"
        style="min-width: 90px;"
        (animationend)="animando = false"
      >
        {{ resultado ? 'Chegou' : 'Não Chegou' }}
      </div>
    </div>
  </div>
</div>
