<nav class="nav topo justify-content-center" >
  <h1 class="titulo">Lista de presença</h1>
</nav>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <app-registro />
      </div>
      <div class="col-6">
        <app-busca />
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <app-lista-chegada />
      </div>
      <div class="col-6">
        <app-lista-alfabetica />
      </div>
  </div>
</div>

