<div class="text-center p-3">
  <div class="row g-2">
    <div class="col-12">
      <input
        type="text"
        class="form-control border-info mb-3"
        placeholder="Insira seu nome..."
        [(ngModel)]="nome"
      />
    </div>
  </div>
  <div class="row g-2">
    <div class="col-6">
      <button class="btn btn-success px-4 w-100" (click)="cadastrar()">
        CADASTRAR
      </button>
    </div>
    <div class="col-6">
      <button class="btn btn-warning px-4 w-100" (click)="desfazerUltimaChegada()">
        DESFAZER
      </button>
    </div>
  </div>
</div>
